body{
  width: 100%;
  height: 100%;
  margin: 0px ;
  background-color: #fffff2;
  text-align: center;
  align-items: center;

}
a{
  text-decoration: none;

}
nav{
  position: fixed;
  /* margin-left: 1%; */
  width: 99%;
  height: 40px;
  background-color:#fffff279;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: center;
  border: solid transparent 2px;
  /* border-radius: 15px; */
  color: black;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  box-shadow: 0 1.5rem 3rem hsla(0, 0%, 0%, 0.25); 
  z-index: 1;
  padding: 4px 10px;
}
.top_fixed img{
  width: 50px;
  height: 50px;
}
.header_touch{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header_func{
  color: black;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  margin: 7px 10px;
  cursor: pointer;
  
}
.header_func:hover{
  color:#009a94;
  transition: 0.25s;
}
.header_button{
  /* height: 90%; */
  padding: 9px;
  border: solid transparent 1px;
  border-radius: 7px;
  /* margin-top: 2px;
  margin-right: 10px; */
  background-color: #009a94 ;
  color: white;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

}
.header_button:hover{
  border: 2px solid #009a94;
  background-color:transparent;
  transition: 0.25s;
}
.about{
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
background-image: url(ggg.jpg);
background-position: center;
background-size: auto;
position: relative;
background-color: #8a8a8a;
background-blend-mode:multiply;
padding: 15px 0px;

}
.about h1{ 
  color:#eee;
  font-size: 4rem;
  text-shadow: 1px 1px 3px  black;
  font-weight: bold;
  margin: -30px auto 0px;

}
.about h2{
  color:#a8a8a8;
  
  font-size: 2rem;
  margin: -10px auto 0px;
  text-shadow: 1px 1px 3px  black;
  font-weight: bold;
  
 
}
.about p{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  margin: 0px auto;
max-width: 700px;
color: #fff;


}
.about img{
  width: 150px ;
  height: 150px;
  background: linear-gradient(to right,#028b87 , red);
  border: solid 6px #028b87  ;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 1px  black;
  transform: translate(5%, 50%);

}

.who{
  width: 100%;
  height: 50%;
display: flex;
flex-flow: column wrap;
align-items: center;
font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
.who h1 ,.services H1{
  font-size: 2rem;
  font-weight: bold;
 

}
.who div p{
  margin-left: 5px;
  font-size: 1.4rem;
  max-width: 400px;
  font-weight: 540;


}
.who img{
  width: 30%;
  height: 30%;
  border: 1px solid transparent;
  border-radius:3% ;
}
.who div{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px 0px;
  align-items: center;
  justify-content: center;

}
.services{
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
position: relative;
background-color: #b8b8b84d;
padding: 15px 0px;
box-shadow: 1rem 1.5rem 4rem rgba(0, 0, 0, 0.342); 
}
.services h1{
  font-size: 2rem;
  text-shadow: 0.75px 0.75px 1px  black;
 
}
.services> p,.services h1{
  color: black;
  max-width: 1900px;
}

.services .get{
font-weight: bold;
font-size: 35px;
color:rgb(204, 204, 204) ;
background-color: #1f1f25;
padding: 10px;
border-radius: 10px;
transition: 0.25s;
}
.services .get:hover{
  background-color: #1f1f2500;
  border: solid 4px black;
  color: rgba(0, 0, 0, 0.801);
  cursor: pointer;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;

  
}

.services .first-row , .services .second-row{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-self: center;
  margin-top: 15px;
  gap: 50px;
}


.services .content .div-1{
  width: 350px;
  height: 250px;
  position: relative;
  background-color: #ffffff;
  border-radius: 3%;
  color: rgb(41, 37, 37);
  padding: 30px;
  transition: .5s;
}

.services .content .div-1:hover{
  scale: 1.07;
  background-image:linear-gradient(-45deg,#009a94,#028b8652,#009a94);  ;
  transition: 0.5s;
  color: white;
}

.content div h4{
  font-size: 25px;

}
.clients{
  margin-top: 20px;
  background-color: #fffff2;
}
.clients h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 0px auto;
  color: black;
  text-shadow: 0.75px 0.75px 1px  black;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
.container{

  padding: 15px 0px;

}
.slider-wrapper{

display: flex;
justify-content: center;
  position: relative;
  

}
.slider{
  display: flex;
 
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-shadow: 0 1.5rem 3rem hsla(0, 0%, 0%, 0.25); 
  border-radius: 0.5rem;
  width: 1100px;
  height: 100%;

}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align:start ;
  object-fit: cover;
}

.slider-nav{
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1rem;
  position: relative;
  bottom: 1.25rem;
  align-items: flex-end;
  justify-content: center;

  z-index: 1;
}
.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 0.65;
  transition: opacity ease 250ms;
}
.slider-nav a:hover{
  opacity: 1;
}

.statistics{
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  background-color: #fffff2;
  padding: 15px 0px;
  box-shadow: 1rem 1.5rem 4rem rgba(0, 0, 0, 0.342); 
}

.statistics>h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 0px auto;
  color: black;
  text-shadow: 0.75px 0.75px 1px  black;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.statistics h2{
  margin: 0px;
  font-size: 30px;
}

.statistics .first-row , .statistics .second-row{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-self: center;
  margin-top: 15px;
  gap: 50px;
}
.statistics .content .div-1{
  width: 250px;
  height: 50px;
  position: relative;
  background-color: #eeeeeeb2;
  border-radius: 3%;
  color: rgb(41, 37, 37);
  padding: 30px;
  transition: .5s;
}
.statistics .content .div-1:hover{
  transition: 0.5s;
  color: white;
  background-color:#009a94 ;
}

.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #009a94;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
    
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
    width: 150px;
    height: 150px;
    color: white;
}
.footer-logo-link img {
    width: 100%;
    height: auto;
    
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #009a94;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}


.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #009a94;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}
.hidden-link-text h1{
  color: white;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #009a94;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}
